<div class="container-lg progess-body mt-5">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div
            [ngClass]="{
              'active-initial': paso.estado == 'completo',
              'init ': paso.estado == 'incompleto',
              'item-in-progress active': paso.estado == 'progreso'
            }"
            class="col item-progress"
            *ngFor="let paso of pasos; let i = index"
          >
            <svg *ngIf="paso.estado !== 'progreso'" width="40" height="40">
              <circle cx="20" cy="20" r="15" />
              <text
                x="50%"
                y="55%"
                text-anchor="middle"
                alignment-baseline="middle"
                fill="white"
                font-size="18"
              >
                {{ i + 1 }}
              </text>
            </svg>

            <svg
              *ngIf="paso.estado == 'progreso'"
              width="25"
              height="26"
              viewBox="0 0 25 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="12.5" cy="13" r="12.5" fill="#02B1FF" />
              <circle cx="12.5" cy="13" r="4.5" fill="white" />
            </svg>

            <div class="title-step-container">
              <strong>{{ paso.titulo }}</strong>
              <small class="d-block" *ngIf="paso.estado == 'progreso'">{{
                paso.subtitulo
              }}</small>
            </div>

            <ng-container *ngIf="paso.estado == 'completo'">
              <svg
                class="svg-end icon-success-fill"
                width="12"
                height="11"
                viewBox="0 0 12 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="5.69995" cy="5.5" r="5.5" fill="#00C83C" />
                <path
                  d="M4.44 6.77013L4.62372 6.96921L4.80744 6.77013L7.98233 3.3299C8.03114 3.277 8.08882 3.25 8.17529 3.25C8.26176 3.25 8.31943 3.277 8.36825 3.3299C8.41845 3.3843 8.44995 3.45697 8.44995 3.56851C8.44995 3.68005 8.41845 3.75273 8.36825 3.80713L4.81668 7.65552C4.75082 7.72689 4.68962 7.75 4.62372 7.75C4.55781 7.75 4.49662 7.72689 4.43076 7.65552L3.03165 6.13949C2.98145 6.08509 2.94995 6.01242 2.94995 5.90087C2.94995 5.78933 2.98145 5.71666 3.03165 5.66226C3.08047 5.60936 3.13814 5.58236 3.22461 5.58236C3.31109 5.58236 3.36876 5.60936 3.41758 5.66226L4.44 6.77013Z"
                  fill="white"
                  stroke="white"
                  stroke-width="0.5"
                />
              </svg>

              <svg
                class="svg-end icon-success"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="5.69995"
                  cy="6"
                  r="5"
                  fill="white"
                  stroke="#00C83C"
                />
                <path
                  d="M4.44 7.27013L4.62372 7.46921L4.80744 7.27013L7.98233 3.8299C8.03114 3.777 8.08882 3.75 8.17529 3.75C8.26176 3.75 8.31943 3.777 8.36825 3.8299C8.41845 3.8843 8.44995 3.95697 8.44995 4.06851C8.44995 4.18005 8.41845 4.25273 8.36825 4.30713L4.81668 8.15552C4.75082 8.22689 4.68962 8.25 4.62372 8.25C4.55781 8.25 4.49662 8.22689 4.43076 8.15552L3.03165 6.63949C2.98145 6.58509 2.94995 6.51242 2.94995 6.40087C2.94995 6.28933 2.98145 6.21666 3.03165 6.16226C3.08047 6.10936 3.13814 6.08236 3.22461 6.08236C3.31109 6.08236 3.36876 6.10936 3.41758 6.16226L4.44 7.27013Z"
                  fill="#00C83C"
                  stroke="#00C83C"
                  stroke-width="0.5"
                />
              </svg>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>














<div style="margin-top: 50px; text-align: center">
  <button
    class="btn btn-primary"
    mat-fab
    extended
    style="margin-right: 20px"
    [routerLink]="['/paso-1']"
    (click)="actualizarPaso(0)"
  >
    Completar paso 1
  </button>
  <button
    class="btn btn-primary"
    mat-fab
    extended
    style="margin-right: 20px"
    [routerLink]="['/paso-2']"
    (click)="actualizarPaso(1)"
  >
    Completar paso 2
  </button>
  <button
    class="btn btn-primary"
    mat-fab
    extended
    style="margin-right: 20px"
    [routerLink]="['/paso-3']"
    (click)="actualizarPaso(2)"
  >
    Completar paso 3
  </button>
</div>

<div style="margin-top: 50px; text-align: center">
  <router-outlet></router-outlet>
</div>
